name: Lint/Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  lint: 
    name: Lint 
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3

      - name: Set up Elixir
        uses: erlef/setup-beam@v1.15.2
        with: 
          elixir-version: '1.14.3'
          otp-version: '25.0'

      - name: Restore dependencies cache
        uses: actions/cache@v3
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-

      - name: Install dependencies
        run: mix deps.get

      - name: Lint (Credo) 
        run: mix credo --strict

      - name: Lint (mix format)
        run: mix format --check-formatted

  build:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Elixir
      uses: erlef/setup-beam@v1.15.2
      with:
        elixir-version: '1.14.3'
        otp-version: '25.0'

    - name: Restore dependencies cache
      uses: actions/cache@v3
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-mix-
          
    - name: Install dependencies
      run: mix deps.get

    - name: Run tests
      run: mix test --no-start # We don't want the bot to try and start without a token, now do we?
